.App {
	text-align: center;
	background-color: black;
	width: 90%;
	max-width: 1200px;
	height: auto;
	margin: auto;
	margin-top: 20px;
	padding: 20px 30px;
	border-radius: 30px;
	background: black url("./assets/images/galaxy.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

h1 {
	font-family: "Starjhol";
	font-size: 40pt;
	color: #ffe81f;
}
