.App {
	text-align: center;
	background-color: black;
	width: 800px;
	height: 800px;
	margin: auto;
	border-radius: 30px;
	background: black url("./assets/images/galaxy.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

h1 {
	font-family: "Starjhol";
	font-size: 40pt;
	color: #ffe81f;
}
