.App {
	text-align: center;
	background-color: black;
	width: 900px;
	height: 800px;
	margin: auto;
	margin-top: 20px;
	padding: 10px 30px;
	border-radius: 80px;
	background: black url("./assets/images/galaxy.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

h1 {
	font-family: "Starjhol";
	font-size: 40pt;
	color: #ffe81f;
}

.table {
	background-color: white;
	margin-top: 15px;
	text-align: left;
}

.table th,
.table td {
	padding-left: 15px;
}

.page-btn {
	width: 150px;
}

.search-button {
	background-color: #ffe81f;
	border-color: lightgray;
}
